# surrealdb env in docker-compose.yaml
SURREALDB_USER=root
SURREALDB_PASSWORD=root

POSTGRES_USER=AnotherMe
POSTGRES_PASSWORD=AnotherMePass
POSTGRES_DB=another-me

# 传递代理给 docker compose up -d --build
# ALL_PROXY=socks5h://host.docker.internal:55535